.card{
background-image: linear-gradient(to right, rgb(227, 80, 112), rgb(207, 120, 222));

margin: 0;
padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.box{

}
