.card{
background-image: linear-gradient(to right, rgb(228, 120, 143), rgb(201, 132, 214));
margin: 0;
padding: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 10px 10px lightblue;
 border-radius: 70px;
}

.titlebox{
  background-color: red;
}

#title{
  background-color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.connectbox{
display: flex;

}

#connect{
background-color: aliceblue;
max-width: 90px;
}

.box{
  background-image: linear-gradient(to right, rgb(219, 219, 219), rgb(255, 255, 255));
  
}