.card{
background-image: linear-gradient(to right, rgb(228, 120, 143), rgb(201, 132, 214));

margin: 0;
padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


.box{
  background-image: linear-gradient(to right, rgb(219, 219, 219), rgb(255, 255, 255));
  
}