.Carousel{   
margin: auto;
width: 150vh;

}

.CarouselContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media screen and (max-width: 1400px) { 
  .Carousel{
    width: 100vh;
  }
  .songsNames{
 font-size: 10px;

}
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}





