.Carousel{   
margin: auto;
width: 50vh;

}

.PlaylistTitle{
    background-image: linear-gradient(to right,
    rgb(55, 145, 241),
    rgb(233, 207, 238));;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.CarouselContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.songsNames{
    background-image: linear-gradient(to right,
    rgb(246, 12, 4),
    rgb(46, 242, 2));;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 30px;
  

}

@media screen and (max-width: 1400px) { 
  .Carousel{
    width: 50vh;
  }
  .songsNames{
 font-size: 10px;

}
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}







