.Carousel{   
margin: auto;
width: 50vh;

}


h2{
    font-size: 50px;
    color: rgba(0, 213, 255, 0.871);
    text-shadow: 1px 1px 5px black, 0 0 10em blue, 0 0 10em blue;
    width: max-content;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;

}
.CarouselContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.songsNames{
   
    font-weight: bolder;
  
 background-image: linear-gradient(to right,
    rgb(246, 12, 4),
    rgb(46, 242, 2));
  font-size: 30px;
  color: white;
 
  
  

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  color: transparent;
  position: absolute;
  top:11%;

  

}
.imageWrapper {
  position: relative; /* Set position relative for absolute positioning of arrows */
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-control-prev-icon:after {
  content: '<'; /* Use an actual icon or character */
  font-size: 90px; /* Adjust size as needed */
   color: rgb(0, 29, 252);
  font-weight: bolder;
 

}



.carousel-control-next-icon:after {
  content: '>'; /* Use an actual icon or character */
 color: rgb(0, 29, 252);
  font-size: 90px;
  font-weight: bolder;

}

@media screen and (max-width: 1400px) { 
  .Carousel{
    width: 50vh;
  }
  .songsNames{
 font-size: 10px;

}
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}







