.Carousel{   
margin: auto;
width: 50vh;

}

.PlaylistTitle{
    background-image: linear-gradient(to right,
    rgb(55, 145, 241),
    rgb(233, 207, 238));;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.CarouselContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.songsNames{
   
    font-weight: bolder;
  
 background-image: linear-gradient(to right,
    rgb(246, 12, 4),
    rgb(46, 242, 2));
  font-size: 30px;
  color: white;
 
  
  

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  color: transparent;
  position: absolute;
  top:25%;

  

}
.imageWrapper {
  position: relative; /* Set position relative for absolute positioning of arrows */
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-control-prev-icon:after {
  content: '<'; /* Use an actual icon or character */
  font-size: 50px; /* Adjust size as needed */
   color: rgb(231, 252, 0);
  font-weight: bolder;

}



.carousel-control-next-icon:after {
  content: '>'; /* Use an actual icon or character */
  color: rgb(231, 252, 0);
  font-size: 50px;
  font-weight: bolder;

  

}

@media screen and (max-width: 1400px) { 
  .Carousel{
    width: 50vh;
  }
  .songsNames{
 font-size: 10px;

}
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}

@media screen and (max-width: 950px) and (max-height:905px) { 
  .Carousel{
    width: 50vh;
  }
  
}







