.recommendedArtist{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    background-color: rgb(247, 62, 186);
    color: rgb(196, 233, 249);
    border-radius: 10px;
    text-align: center;
    box-shadow: 
    /* Bottom shadow for overall depth */
    0 4px 8px rgba(0, 0, 0, 0.7),
    /* Deeper, offset shadow for directionality */
    2px 2px 5px rgba(0, 0, 0.5, 0.4); 
}  