.card{
background-image: linear-gradient(to right, rgb(228, 120, 143), rgb(201, 132, 214));

padding-top: 10px;
padding-left: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
  box-shadow: 10px 10px lightblue;
 border-radius: 70px;
 max-width: max-content;
}

.titlebox{
  padding: 5vw;
 
}

#title{
color: rgb(249, 238, 233);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-top: 1vw;
padding-bottom: 3vw;

}


.connectbox{
display: flex;
align-items: center;
justify-content: center;
margin: 20px;
}


#image{
margin-top: 50px;
margin-right: 100px;
margin-bottom: 50px;
padding: 50px;
background: url(./connecttext.png) no-repeat;
background-size: contain;
background-color: lightblue;
}


.box{
  background-image: linear-gradient(to right, rgb(126, 123, 123), rgba(251, 251, 251, 0.608));
  
}

.slider {
   /* Override default CSS styles */
  appearance: none;
  padding-right: 0px;
  width: 200px; /* Full-width */
  height: 12px; /* Specified height */
  background: #f9f9f9; /* Grey background */

  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .5s;
  margin-left: -10%;
 border-radius: 25px;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;


}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: url(./icons8-music-100.png) no-repeat;
  background-size: auto
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: url(./icons8-music-100.png) no-repeat;
  background-size: cover;
  cursor: pointer; /* Cursor on hover */
}


