body{
  background-image: linear-gradient(
    to right,
    rgb(252, 251, 251),
    rgb(204, 208, 205)
  );
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.card {
  background-image: linear-gradient(
    to right,
    rgb(228, 120, 143),
    rgb(201, 132, 214)
  );
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 10px 10px lightblue;
  border-radius: 90px;

}


.titlebox{
  padding: 20px;
}


#title {
  color: rgb(249, 238, 233);
  font-size: 90px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.connectbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

#image {
  padding: 50px;
  background: url(./connecttext.png) no-repeat;
  background-size: contain;
  background-color: lightblue;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  opacity: .2
}

/*#image:hover {
  opacity: 1;
  cursor: pointer;
}*/

.box {
  background-image: linear-gradient(
    to right,
    rgb(126, 123, 123),
    rgba(251, 251, 251, 0.608)
  );
}

.slider {
  /* Override default CSS styles */
  appearance: none;
  border-style: solid;
  border-width: 4px;
  width: 200px; /* Full-width */
  height: 12px; /* Specified height */
  background: #f9f9f9; /* Grey background */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.5s;
  margin-left: -10%;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: url(./icons8-music-100.png) no-repeat;
  background-size: auto;
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: url(./icons8-music-100.png) no-repeat;
  background-size: cover;
  cursor: pointer; /* Cursor on hover */
}



@media screen and (max-width: 850px) { 
  .App{
   
    margin: auto;
    padding: none;
   display: flex;


  }
.titlebox{padding: 20px;}

}


@media screen and (max-width: 950px) and (max-height:600px) { 
  
.welcome{margin: 20px;}

.card{margin-top:20px}
  }
  
