name: My Workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Setup Node.js
    uses: actions/setup-node@v4
    with:
    node-version: '16.18.1'
  - name: Run JavaScript script with secret
    run: node script.js
    env:
     API_KEY: ${{ secrets.PRIVATE_KEY }}
