name: My Workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16.18.1'
          cache: 'npm'
      - name: Install dependencies
          run: npm install

      - name: Run JavaScript script with secret
        run: node backend/script.js
        env:
          PRIVATE_KEY: ${{secrets.PRIVATE_KEY}}